<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DreamPortalTestSuite">
    <test name="HomePageTests">
        <classes>
            <class name="com.dreamportal.tests.HomePageTest"/>
        </classes>
    </test>
    <test name="DreamDiaryTests">
        <classes>
            <class name="com.dreamportal.tests.DreamDiaryTest"/>
        </classes>
    </test>
    <test name="DreamTotalTests">
        <classes>
            <class name="com.dreamportal.tests.DreamTotalTest"/>
        </classes>
    </test>
</suite>
